@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Example</h2>
        <p>
            CurrentTime: @ViewBag.CurrentTime
        </p>
    </div>
</div>
