[Unit]
Description=aspnet-main: Web server
After=network.target

[Service]
Type=simple
EnvironmentFile=/home/web/aspnet-main/etc/beta/systemd/aspnet-main-web.env
WorkingDirectory=/home/web/aspnet-main/src/App/bin/Release/netcoreapp2.1/publish
ExecStart=/usr/bin/dotnet App.dll
ExecStop=/bin/kill -WINCH ${MAINPID}
Restart=always
User=web
Group=web
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
